<template>
  <div>
    <navbar type="info" menu-classes="ml-auto">
      <div class="navbar-translate">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#example-navbar-info"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
        </button>
      </div>
    </navbar>
     <div class="col-md-10 ml-auto col-xl-6 mr-auto">
        <p class="category">Minha Conta</p>
        <!-- Tabs with Background on Card -->
        <div class="card">
          <tabs
            centered
            type="neutral"
            tab-nav-wrapper-classes="card-header"
            tab-content-classes="card-body text-center"
            data-background-color="orange"
          >
            <tab-pane>
              <template slot="label">
                <i class="now-ui-icons objects_umbrella-13"></i> Home
              </template>
               <blockquote>
                <p class="blockquote blockquote-primary">
                  Nome:  <badge type="info">{{ user.name }}</badge>
                  Agencia:  <badge type="info">001</badge>
                  Conta Corrente:  <badge type="info">{{ user.account }}</badge>
                  Saldo:  <badge type="success">R$ {{ balance }}</badge>
                </p>
               </blockquote>
            </tab-pane>
            <tab-pane>
              <template slot="label">
                <i class="now-ui-icons shopping_cart-simple"></i> Depósito
              </template>
              <template>
                <form @submit.prevent="salvar(1,'Deposito')">
                  <fg-input v-model="transation.value"
                    class="no-border"
                    placeholder="Valor"
                    addon-left-icon="now-ui-icons business_money-coins"
                  >
                  </fg-input>
                <div class="card-footer text-center">
                  <n-button v-on:click="salvar(1,'Deposito')" type="submit" round size="lg">Depositar </n-button>
                </div>
                </form>
              </template>
            </tab-pane>
            <tab-pane>
              <template slot="label">
                <i class="now-ui-icons business_bank"></i> Saque
              </template>
              <template>
                <form @submit.prevent="salvar(1,'Saque')">
                  <fg-input v-model="transation.value"
                    class="no-border"
                    placeholder="Valor"
                    addon-left-icon="now-ui-icons business_money-coins"
                  >
                  </fg-input>  
                  <div class="card-footer text-center">
                    <n-button v-on:click="salvar(1,'Saque')" type="submit" round size="lg">Sacar </n-button>
                  </div>
                </form>
              </template>
            </tab-pane>
          </tabs>
        </div>
        <!-- End Tabs on plain Card -->
     </div>
        <div class="section section-javascript" id="javascriptComponents">
      <modal
        :show.sync="modals.mini"
        class="modal-primary"
        :show-close="false"
        headerClasses="justify-content-center"
        type="mini"
      >
        <div slot="header" class="modal-profile">
          <i class="now-ui-icons users_circle-08"></i>
        </div>
        <p>Transação realizada com sucesso</p>
        <template slot="footer">
          <n-button type="neutral" v-on:click="updateComponent" link @click.native="modals.mini = false"
            >Fechar</n-button>
        </template>
      </modal>
    </div>
  </div>
</template>
<script>
import Account from '../../services/account';
import { Button, Tabs, Modal, TabPane, Navbar, Badge, FormGroupInput } from '@/components';
export default {
  name: 'landing',
  bodyClass: 'landing-page',
  components: {
    [Button.name]: Button,
    Tabs,
    TabPane,
    Modal,
    Badge,
    Navbar,
    [FormGroupInput.name]: FormGroupInput
  },
  data() {
    return {
      modals: {
        mini: false
      },
      transation: {
        'idClient': '',
        'type': '',
        'value': ''
      },
      balance: '',
      user: []
    };
  },
  mounted(){
    Account.showBalance(1).then(resposta => {
      this.balance = resposta.data.balance;
    });

    Account.showUser(1).then(resposta => {
      this.user = resposta.data; 
    });
  },
  methods:{
    updateComponent(){     
      this.$router.go(0);
    },

    salvar: function(idClient, type){
      this.transation['idClient'] = idClient;
      this.transation['type'] = type;
      Account.setTransation(this.transation).then(resposta =>{
        this.modals.mini = true;
      });
    }
  }
};
</script>
<style lang="scss">
.tab-content.tab-content-padding {
  padding: 20px;
}

#javascriptComponents {
  .modal-buttons,
  .popover-buttons,
  .tooltip-buttons {
    .btn + .btn {
      margin-left: 3px;
    }
  }
}
</style>
