<template>
  <navbar
    position="fixed"
    type="primary"
    :transparent="transparent"
    :color-on-scroll="colorOnScroll"
    menu-classes="ml-auto"
  >
    <template>
      <router-link class="navbar-brand" to="/">
        <img src="https://www.capgemini.com/wp-content/themes/capgemini-komposite/assets/images/logo.svg">
      </router-link>
    </template>
  </navbar>
</template>

<script>
import { Navbar } from '@/components';
export default {
  name: 'main-navbar',
  props: {
    transparent: Boolean,
    colorOnScroll: Number
  },
  components: {
    Navbar,
  }
};
</script>

<style scoped></style>
